@page
@model AbbyWeb.Pages.Categories.DeleteModel
<form method="post">
    <input hidden asp-for="Category.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Удалить категорию</h2>
            <hr/>
        </div>        
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" readonly class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" readonly class="form-control"/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Удалить</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:350px;">Вернуться к списку категорий</a>
    </div>
</form>


